@import "tailwindcss";

@layer base {
  @media print {
    aside, 
    header, 
    .print\:hidden {
      display: none !important;
    }
    
    main {
      padding: 0 !important;
      margin: 0 !important;
      background: white !important;
    }

    .bg-[#f5f5f0] {
      background: white !important;
    }
  }
}
